
<html lang="en" ng-app="user">
<head>
	<title>User Registration</title>
	<link href="assets/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body ng-controller="loginController">
	<div class="container" style="margin-top:200px">
		<div class="panel panel-success col-sm-6 col-sm-offset-3">
			<div class="panel-heading">Registration Form</div>
	  		<div class="panel-body">
			  	<form name="loginform">
				  	<div class="form-group">
				  		<label for="username">Username:</label>
						<input class="form-control" type="text" id="username" name="username" placeholder="Username" ng-model="data.username" required>
				  	</div>
				  	<div class="form-group">
				  		<label for="username">Password:</label>
						<input class="form-control" type="password" name="password" placeholder="Password" ng-model="data.password" required>
					</div>
				  	<div class="pull-right">
						<button class="btn btn-success" ng-click="loginform.$valid && registerUser()" type="submit" onclick = name="login"> Register </button>
					</div>
			  	</form>
			</div>
		</div>
	</div>
</body>
<!--  Angularjs files-->
<script src="assets/js/angular.min.js" type="text/javascript"></script>
<script src="assets/js/user.js" type="text/javascript"></script>
<!-- JQuery file -->
<script src="assets/js/jquery-2.2.4.min.js" type="text/javascript"></script>
<!-- Bootsrap -->
<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
</html>